<div id='left-container'>
  <a href='/' id='home-link' class='pjax'>
    <h1 id='title-header'>
      VALERIE
      <br>
      TIEFENBACHER
    </h1>
  </a>
  <div id='side-menu'>
    <ul id='menu-list'>
      <li {% if page.title == 'news' %}class='menu-item active'{% else %}class='menu-item'{% endif %}class='menu-item'><a class='pjax' href='/news'>AKTUELL</a></li>
      <li class='menu-item'>
        <a class='pjax' href='/projects'>Projekte</a>

      </li>

      <li class='menu-item'>
        <a class='pjax' href='/illustrations'>Illustration</a>

      </li>
      <li {% if page.title == 'about' %}class='menu-item active'{% else %}class='menu-item'{% endif %} ><a class='pjax' href='/about'>CV</a></li>
      <li {% if page.title == 'contact' %}class='menu-item active'{% else %}class='menu-item'{% endif %}><a class='pjax' href='/contact'>Kontakt</a></li>
    </ul>
  </div>
</div>
