<div id='left-container'>
  <a href='/' id='home-link' class='pjax'>
    <h1 id='title-header'>
      VALERIE
      <br>
      TIEFENBACHER
    </h1>
  </a>
  <div id='side-menu'>
    <ul id='menu-list'>
      <li class='menu-item'><a class='pjax' href='/news'>News</a></li>
      <li class='menu-item'>
        <a class='pjax' href='/projects'>Projects</a>
      </li>

      <li class='menu-item'>
        <a class='pjax active' href='/illustrations'>Illustrations</a>
        <ul class='submenu'>
          {% for post in site.categories['illustration'] %}
            <li {% if post.backimage %}data-back={{post.backimage}} {% endif %} data-id={{post.id}} data-url={{post.url}} {% if page.title == post.title %}class='li-side active'{% else %}class='li-side'{% endif %}>
              <a href={{post.url}}>{{post.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li class='menu-item'><a class='pjax' href='/about'>About</a></li>
      <li class='menu-item'><a class='pjax' href='/contact'>Contact</a></li>
    </ul>
  </div>
</div>
