html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'GenomeThin', Helvetica;
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  // -webkit-font-smoothing: antialiased;
}

h1 {
  margin: 0;
}

hr {
  border: none;
  border-bottom: 1px dotted #ddd;
  width: 60%;
  margin: 0 auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}
.post {
  padding-top: 30px;
}

.active {
  font-family: 'Helvetica Neue';
  font-style: italic;
}

#left-container {
  position: fixed;
  padding: 60px 100px 0 80px;
  // height: 80%;
  width: 150px;
  background-color: #fff;
}

#right-container {
  font-family: 'GenomeThin', serif;
  font-style: normal;
  font-weight: normal;
  margin-left: 330px;
  // padding: 20px;
  padding-bottom: 0;
}

#home-link-mobile {
  display: none;
}

#title-header {
  font-size: 2em;
  margin: 0;
  font-weight: normal;
}

#menu-list {
  font-size: 1.2em;
  margin-top: 50px;
  padding: 0;
}

.menu-item {
  margin: 20px 0;
}

.menu-item a:hover {
  font-family: 'Helvetica Neue';
  font-style: italic;
}
.submenu {
  font-size: .8em;
  padding-left: 25px;
  margin: 20px 0;
}

.post-content {
  width: 80%;
  max-height: 200px;
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
}
.post-content:after {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
     rgba(255,255,255, 1) 0%,
     rgba(255,255,255, 0) 40%
  );
  pointer-events: none; /* so the text is still selectable */

}

.expanded {
  max-height: 5000px;
  -webkit-transition: max-height 1s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
  margin-bottom: 1em;
}
.expanded:after {
  background: none;
}

.gallery-img img {
  width: 80%;
}

.homepage {
  padding-top: 60px;
}

.homepage h2 {
  margin-top: 0;
}

.home-image {
  width: 80%;
  // margin: 0 auto;
}
.home-image img {
  width: 99%;
}


.aboutpage {
  text-align: center;
}

.about-content {
  display: inline-block;
  margin: 150px 150px 0 0;
}

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 920px) {
	/* #menu is the original menu */
	#left-container {
		display:none;
	}
  #home-link-mobile {
    display: block;
    // float: right;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    height: 30px;
    padding-bottom: .5em;
    // border-bottom: 1px solid #eee;
    box-shadow: 0 0 6px #ddd;
    position: fixed;
    // background-image: url('/assets/images/90opacity.png');
    // background-repeat: repeat;
    background-color: rgba(255, 255, 255, .8);
    z-index: 400;
  }

  #a-home a {
    font-size: 26px;
  }

	.slicknav_menu {
    position: absolute;
    z-index: 300;
    // width: 150px;
    margin: 0;
    padding: 0;

    float: left;
		display:block;
    text-align: left;
    background-color: transparent;
    color: #444;
  }
  .slicknav_menu ul {
    margin: 0;
    background-color: white;
    width: 100%;
    padding: 0 15px;
    z-index: 300;
    border: 1px solid #eee;
  }
  .slicknav_btn {
    clear:both;
    float: left;
    margin: 0 15px 0;
  }
  .menu-item a {
    font-size: 1.3em;
    color: #333;
  }
  .menu-item:hover {
    font-style: normal;
  }

  #right-container  {
    margin-left: auto;
    width: 100%;
    // padding: 0 20px;
    padding-top: 2em;
  }

  .img-caption p {
    font-size: 16px;
    font-size: 3vw;
  }

  .gallery-img {
    width: 100%;
    // position: relative;
    margin: 0 auto;
  }
  .post-header, .post-content {
    width: 93%;
    margin: 0 auto;
  }

  .post-content {
    text-align: justify;
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  .gallery-img img {
    width: 100%;
  }
  .gallery-img p {
    padding-left: .5em;
    margin-top: 0;
  }
  .home-image {    //homepage
    width: 95%;
    margin: 0 auto;
  }
  .about-content {
    margin: 150px 0;
  }
}
@media screen and (max-width: 440px) {
  #a-home a {
    font-size: 20px;
  }
}

@media screen and (max-width: 340px) {
  #a-home a {
    font-size: 16px;
  }
}
