<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-background={{page.backimage}}>
    <div id='fakeBack'></div>
    <div id='content-container'>
      {% include side-menu{{page.categories}}.html %}
      <div id='home-link-mobile'>
        <div id='a-home'><a href='/'>VALERIE TIEFENBACHER</a></div>
      </div>
      <div id='right-container'>
        <div class="page-content">
          <div class="wrapper" id={{page.uid}} data-pageurl={{page.url}}>
            {{ content }}
          </div>
        </div>
        <!-- <div id='endofpage-element'></div> -->
      </div>
    </div>
  </body>

</html>
