---
layout: default
---
<article class="post">

  <div id="coverpage">
    <div id="columns">
      {% for img in page.images %}
        <div class='pin' data-id={{img.id}}>
          <a href={{img.link}}>
            <div class='image'>
              <img src={{img.url}} />
            </div>
          </a>
          <!-- <a class='img-caption' href={{img.link}}><p>{{img.title}}</p></a> -->
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="post-content">
    {{ content }}
  </div>


</article>
